<div layout="column" ng-controller="usersCtrl">
<md-card>
  <md-card-content>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
      <div class="md-toolbar-tools">
        <h2 class="md-title">Users</h2>
        <div flex></div>

        <md-button class="md-icon-button" ng-click="createUser()">
          <i class="material-icons md-dark">add_circle_outline</i>
  		  </md-button>
  		  <md-button class="md-icon-button" ng-click="filter.show = true">
  		    <i class="material-icons md-dark">search</i>
  		  </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show">
      <div class="md-toolbar-tools">
        <i class="material-icons md-dark">search</i>
  		  <form flex name="filter.form">
  		    <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">
  		  </form>
  		  <md-button class="md-icon-button" ng-click="removeFilter()">
  		    <i class="material-icons md-dark">close</i>
  		  </md-button>
      </div>
    </md-toolbar>

    <md-table-container>
		  <table md-table md-progress="deferred">
		    <thead md-head md-order="username" md-trigger="onOrderChange">
		      <tr md-row>
		      	<th md-column style="width:80px;padding:0;"></th>
		        <th md-column descend-first order-by="username" style="width:200px">Username</th>
		        <th md-column order-by="lastname" style="width:150px">Lastname</th>
		        <th md-column order-by="firstname" style="width:150px">Firstname</th>
		        <th md-column order-by="role">Role</th>
		        <th md-column >Zones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-row ng-repeat="user in users | orderBy: username" md-disable-select="true">
		        <td md-cell style="width:80px;padding:0;">
              <md-button style="margin:0;" class="md-icon-button" ng-click="update(user)">
    				    <i class="material-icons md-18 md-dark">create</i>
    				  </md-button>
              <md-button style="margin:0;" class="md-icon-button" ng-click="remove(user)">
                <i class="material-icons md-18 md-dark">delete</i>
              </md-button>
            </td>
		        <td md-cell>{{user.username}}</td>
		        <td md-cell>{{user.lastname}}</td>
		        <td md-cell>{{user.firstname}}</td>
		        <td md-cell>{{user.role}}</td>
            <td md-cell><span ng-repeat="zone in user.zones">{{zone.name}}&nbsp;/&nbsp;</span></td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
	</md-card-content>
</md-card>

</div>
