<div layout="column" ng-controller="zonesCtrl">
<md-card>
  <md-card-content>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
      <div class="md-toolbar-tools">
        <h2 class="md-title">DNS zones</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="createZone()">
          <i class="material-icons md-dark">add_circle_outline</i>
        </md-button>
        <md-button class="md-icon-button" ng-click="filter.show = true">
          <i class="material-icons md-dark">search</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show">
      <div class="md-toolbar-tools">
        <i class="material-icons md-dark">search</i>
        <form flex name="filter.form">
          <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">
        </form>
        <md-button class="md-icon-button" ng-click="removeFilter()">
          <i class="material-icons md-dark">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-table-container>
		  <table md-table md-progress="deferred">
		    <thead md-head md-order="name" md-trigger="onOrderChange">
		      <tr md-row>
		      	<th md-column style="width:80px;padding:0;"></th>
		        <th md-column descend-first order-by="name" style="width:300px">Zone name</th>
		        <th md-column style="width:100px">TSIG name</th>
		        <th md-column style="width:100px">TSIG value</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-row ng-repeat="zone in mzones | orderBy: name" md-disable-select="true">
		        <td md-cell style="width:80px;padding:0;">
              <md-button style="margin:0;" class="md-icon-button" ng-click="update(zone)">
                <i class="material-icons md-18 md-dark">create</i>
              </md-button>
              <md-button style="margin:0;" class="md-icon-button" ng-click="remove(zone)">
                <i class="material-icons md-18 md-dark">delete</i>
              </md-button>
            </td>
		        <td md-cell>{{zone.name}}</td>
		        <td md-cell><i class="material-icons md-dark" ng-show="zone.hastsigname">check</i></td>
		        <td md-cell><i class="material-icons md-dark" ng-show="zone.hastsigkey">check</i></td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
	</md-card-content>
</md-card>
</div>
